*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;

}

.header{
    min-height:100vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/image/banner.png);
    background-position:center;
    background-size: cover;
    position: relative;

}
nav{
  display: flex;
  padding:2% 6%;
  justify-content: space-between;
  align-items: center;

}
nav img{
   width:150px;
}
.nav-links{
    flex:1;
    text-align:right;
}
/* for menu home ,about between gap */
.nav-links ul li{
    list-style-type: style none;
    display:inline-block;
    padding:8px 12px;
    position:relative;
}
/* for white color home,about  */
.nav-links ul li a{
    color:#fff;
    text-decoration:none;
    font-size:13px;
}
/* for underline the about,home etc. */
.nav-links ul li::after{
    content:'';
    width:0% ;
    height:2px;
    background:#f44336;
    display:block;
    margin:auto; 
    transition:0.5s;
}
.nav-links ul li:hover::after{
    width:100% ;
}


/* for center text */
.text-box{
   width:90%;
   color:#fff;
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   text-align:center;
}
.text-box h1{
    font-size:62px;
}

/* for maintain the gap between lines of paragraph */
.text-box p{
    margin:10px 0 30px;
    font-size:14px;
    color:#fff
}

/* decoration of btn */
.hero-btn{
    display:inline-block;
    text-decoration: none;
    color:#fff;
    border:1px solid #fff;
    padding:12px 34px;
    font-size:13px;
    background:transparent;
    position: relative;
    cursor: pointer;
}


/* bcoz of this highlight the btn */
.hero-btn:hover{
    border:1px solid #f44336;
    background:#f44336;
    transition: 1s;
}
nav .fa{
    display: none;
}

/* for hide the icon from larger device */

/* for mobile site */
@media(max-width:700px){
    .text-box h1{
        font-size:20px;
    }
    /* for display the block menu */
    .nav-links ul li{
        display:block;
    }

/* for all menus in list */
.nav-links{
    position: absolute;
    background:#6bacb4;
    height:45vh;
    width:150px;
    top:0;
    /* menu right is normally  0 but for hiding is -200 */
    right:-250;
    text-align:left;
    z-index:2;
    transition: 1s;
}
nav .fa{
    display:block;
    color:#fff;
    margin:10px;
    font-size:22px;
    cursor:pointer;
}
.nav-links ul{
    padding:30px;

}

}



/* company */
.company-col{
    width:100%;
    margin:auto;
    text-align:center;
    padding-top: 100px;
    align-items:center;
}
/* for color of col */
.company-col{
flex-basis: 31%;
background: #fff3f3;
border-radius: 10px;
margin-bottom: 5%;
padding:20px 12px;
box-sizing:border-box;
}
/* for shadow of col */
.company-col:hover{
    box-shadow:0 0 20px 0px rgba(0,0,0,0.2);
    transition:0.5s;
}





/* SERVICES */
.SERVICES{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top:100px;
}
h1{
font-size:36px;
font-weight:600;
}
p{
    color:#777;
    font-size:14px;
    font-weight:300;
    line-height:22px;
    padding:10px;
}
/* FOR MODIFY THE COLUMN BOX */
.row{
    margin-top:5%;
    display:flex;
    justify-content:space-between;
}

/* box for course column */
.SERVICES-col{
flex-basis: 31%;
background: #fff3f3;
border-radius: 10px;
margin-bottom: 5%;
padding:20px 12px;
box-sizing:border-box;
}

h3{
    text-align:center;
    font-weight:600;
    margin:50px 0;
}
/* for shadow of column */
.SERVICES-col:hover{
    box-shadow:0 0 20px 0px rgba(0,0,0,0.2);
    transition:0.5s;
}

/* column for mobile */
@media(max-width:700px){
    .row{
        flex-direction:column;
    }
}

/* company */
.company{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top:50px;
}
.company-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.company-col img{
    width:100%;
    display:block;
}
.layer{
    flex-basis: 31%;
    background: transparent;
    height: 100%;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;

}
.layer:hover{
    background: rgba(226,0,0,0.7);

}
.layer h3{
    width:100%;
    font-weight:500;
    color:black;
    font-size:26px;
    bottom:0;
    left:50%;
    transform:translateX(0%);
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom:49%;
    opacity:1;
    
}

/* TESTIMONIAL */
.testimonial{
    width:60%;
    margin:auto;
    padding-top:50px;
    text-align:center;
}
.testimonial-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding:20px 12px;
    box-sizing:border-box;
}
.testimonial-col:hover{
    box-shadow:0 0 20px 0px rgba(0,0,0,0.2);
    transition:0.5s;
}
.testimonial-col img{
    height:100px;
    margin-left:5px;
    margin-right: 20px;
    border-radius: 50%;

}
.testimonial-col h3{
    margin:top;
    text-align:center;
}
@media(max-width:700px){
    .testimonial-col img{
        margin-left: 0px;
        margin-right: 15px;
        
    }

}




/* CALL TO ACTION */
.cta{
    margin:100px auto;
    width:50%;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/image/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px;

}
.cta h1{
    color:#fff;
    margin-bottom: 40px;
    padding:0;
}
@media(max-width:700px){
    .cta h1{
        font-size:20px;
    }
}
/* footer */
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;

}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons{
    color:#f44336;
    margin:0 13px;
    cursor:pointer;
    padding:18px 0;
}
.fa-heart-o{
    color:#f44336;
}